@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin : 0px ;
    padding : 0px ;
    box-sizing: border-box;
    overflow: hidden; 
  }

.registre {
  @apply bg-transparent text-white font-semibold px-4 py-3 border-[1px] border-primary-green  rounded-xl  hover:bg-primary-green hover:text-primary-blue transition-all duration-500 ease-out ;
}

.active {
  background-color: "green";
}

main::-webkit-scrollbar {
  display: none;
}

.remove_scroll_bar::-webkit-scrollbar {
  display: none;
}